<!-- List all projects in collection -->
<div class="o-project-list">
    <h2>
        Projects
    </h2>
    <div class="">
        <!-- Group posts by project -->
        <!-- {% assign postsByProject = site.posts | group_by_exp: "post", "post.date | date: '%-d/%-m/%Y'" %} -->
        {% assign postsByProject = site.posts | group_by_exp: "post", "post.id | split: '/' | pop | join: '/'" %}
        {% for project in postsByProject %}
            {{ project.name }}
        {% endfor %}
<!-- 
        {% for project in postsByProject %}
            <div class="">
                <p class="">
                    {{ project.name }}
                </p>
                <div class="">
                    {% for post in project.items %}
                        Id: {{post.id}}<br>
                        Slug: {{ post.slug }}<br>
                        Title: {{post.title}}<br>
                        Date: {{post.date}}<br>
                        Path: {{post.path}}<br>
                        Ext: {{post.ext}}<br>
                        
                        {% assign type = post.id | split: '/' | last %}
                        {% assign fileName = type | append: post.ext %}

                        {% assign typeReverse = type | split: "" | reverse | join: "" %}
                        {% assign projectIdReverse = post.id | split: "" | reverse | join: "" | remove_first: typeReverse | remove_first: "/" %}
                        {% assign projectId = projectIdReverse | split: "" | reverse | join: "" %}

                        Type: {{ type }}<br>
                        File Name: {{ fileName }}<br>
                        Project Id: {{ projectId }}<br><br>
                    {% endfor %}
                </div>
            </div>
        {% endfor %} -->
        <!-- {% for post in site.posts %}
            {{ post.id }}
        {% endfor %} -->
    </div>
</div>